@model PharmacySystem.Models.Shift

@{
    ViewData["Title"] = "Create Shift";
}

<div class="container mt-5">
    <h1 class="text-center mb-3">Create Shift</h1>
    <h4 class="text-center text-muted">Shift Details</h4>
    <hr class="mb-4" />

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">Shift Details</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Enter Shift Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="StartTime" class="form-label"></label>
                            <input asp-for="StartTime" class="form-control" placeholder="Start Time" type="time" />
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EndTime" class="form-label"></label>
                            <input asp-for="EndTime" class="form-control" placeholder="End Time" type="time" />
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Create Shift</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
